.list {
    display: flex;
    justify-content: space-between;
}

.buttons {
    align-self: center;
}

.button {
    color: #8a2b06;
    background-color: white;
    border: 1px solid #8a2b06;
    padding: 3px 12px;
    border-radius: 5px;
    font-size: 18px;
    width: 2.5rem;
}

.price {
    font-weight: bold;
    color: #8a2b06;
}

.amount {
    border: 1px solid grey;
    margin-left: 2rem;
    padding: 1px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.negative {
    margin-right: 1rem;
}

.bottom {
    height: 2px;
    margin-top: 1rem;
    border: none;
    background-color: #8a2b06;
}

.buttons button:hover, 
.buttons button:active {
    background-color: #641e03;
    border-color: #641e03;
    color: white;
}